%footer
  .site-map
    %dl.multi-row
      %dt PRODUCT
      %dd
        =link_to "#" ,class:"dd_text" do
          BASIC
      %dd
        =link_to "#" ,class:"dd_text" do
          AIRWAY
      %dd
        =link_to "#" ,class:"dd_text" do
          COTTON
      %dd
        =link_to "#" ,class:"dd_text" do
          KIDS
      %dd
        =link_to "#" ,class:"dd_text" do
          STYLE
      %dd
        =link_to "#" ,class:"dd_text" do
          SOFT FIT
      %dd
        =link_to "#" ,class:"dd_text" do 
          INNER
    %dl.multi-row
      %dt.sp &nbsp;
      %dd
        =link_to "#" ,class:"dd_text" do
          CASE
      %dd
        =link_to "#" ,class:"dd_text" do
          SANITIZER
      %dd
        =link_to "#" ,class:"dd_text" do
          ETIQUETTE SPRAY
    %dl
      %dt.sp &nbsp;
      %dd
        =link_to "#" ,class:"dd_text" do
          FACIAL MIST
      %dd
        =link_to "#" ,class:"dd_text" do
          CLEANSING FOAM
      %dd
        =link_to "#" ,class:"dd_text" do
          DUAL MASK SHEET
    %dl
      %dt STORY
      %dd
        =link_to "#" ,class:"dd_text" do
          BRAND STORY
      %dd
        =link_to "#" ,class:"dd_text" do
          SHIN MINA
      %dd
        =link_to "#" ,class:"dd_text" do
          KIM DAMI
    %dl
      %dt ETC
      %dd
        =link_to "#" ,class:"dd_text" do
          CONTACT
      %dd
        =link_to "#" ,class:"dd_text" do
          ETIQA STORE
  .others
    %ul.sns
      %li
        =link_to "#" ,class:"sns_text" ,target:"_blank" do
          FACEBOOK.
      %li
        =link_to "#" ,class:"sns_text" ,target:"_blank" do
          INSTAGRAM.
      %li
        =link_to "#" ,class:"sns_text" ,target:"_blank" do
          YOUTUBE.
      %li
        =link_to "#" ,class:"sns_text" ,target:"_blank" do
          BLOG.
      %li
        =link_to "#" ,class:"sns_text" ,target:"_blank" do
          POST.
    %p.copyright
      Copyright &copy; 2020 i-clap All rights reserved.