-#横長画像の配置
.carousel-inner
  .carousel-item.active
    =image_tag "bg_sc10.png",class:'d-block w-100'
.carousel-inner
  .carousel-item.active
    =image_tag "bg_sc10.png",class:'d-block w-100'
-#正方形画像の配置
