#header
  =link_to "#" ,class:"icon" do
    =image_tag "logo_w800_h240.png",class:'icon_image'
  %p.btn-gnavi
    %span
    %span
    %span
  %nav#global-navi
    %ul.menu
      %li
        =link_to "#",class:"menu-link" do
          コンテンツ
      %li
        =link_to "#",class:"menu-link" do
          コンテンツ
      %li
        =link_to "#",class:"menu-link" do
          コンテンツ
      %li
        =link_to "#",class:"menu-link" do
          コンテンツ
      %li
        =link_to "#",class:"menu-link" do
          コンテンツ
