%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  -#アイコン
  %a.navbar-brand{href:"#"}
    =image_tag "logo_w800_h240.png",class:'d-block.w-100 lozad'
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type:"button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      -#メニュー／activeクラスで白のままになる
      %li.nav-item.active
        %a.nav-link{href:"#"}
          ホーム
          %span.sr-only (current)
      -#メニュー／オンマウスで色変化
      %li.nav-item
        %a.nav-link{href:"#"} サービス概要
      -#ドロップダウン
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href:"#", role:"button"}
          サービス一覧
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          -#ドロップダウンメニュー
          %a.dropdown-item{href:"#"} マスク_01
          -#ドロップダウンメニュー
          .dropdown-divider
          %a.dropdown-item{href:"#"} マスク_02
          .dropdown-divider
          %a.dropdown-item{href:"#"} マスク_03
      %li.nav-item
        %a.nav-link.disabled{"aria-disabled" => "true", href:"#", tabindex:"-1"} お問い合わせ
    %form.form-inline.my-2.my-lg-0
      %input.form-control.mr-sm-2{"aria-label" => "Search", placeholder:"メールアドレス", type:"search"}
      %button.btn.btn-outline-light.my-2.my-sm-0{type:"submit"} 会員登録
