.two_column.container
  .col-md-4.img-hidden
    =image_tag asset_path("nyjDroDB_400x400.jpg",class:"img-fulied")
  .col-md-8
    %h1 Sample Text
    %p Sample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample Text
