.wrapper
  =render "navigation"
  =render "top_image"
  =render "card"
  =render "two_column"
  =render "three_column"
  =render "footer"
  -#topへもどるボタン
  #page_top
    %a{:href => "#"} 
      %i.fas.fa-chevron-up