%button.btn.btn-primary{:type => "button"} Primary
%button.btn.btn-secondary{:type => "button"} Secondary
%button.btn.btn-success{:type => "button"} Success
%button.btn.btn-danger{:type => "button"} Danger
%button.btn.btn-warning{:type => "button"} Warning
%button.btn.btn-info{:type => "button"} Info
%button.btn.btn-light{:type => "button"} Light
%button.btn.btn-dark{:type => "button"} Dark
%button.btn.btn-link{:type => "button"} Link

%a.btn.btn-primary{:href => "#", :role => "button"} Link
%button.btn.btn-primary{:type => "submit"} Button
%input.btn.btn-primary{:type => "button", :value => "Input"}/
%input.btn.btn-primary{:type => "submit", :value => "Submit"}/
%input.btn.btn-primary{:type => "reset", :value => "Reset"}/


