
.navbar-brand{
  img{
    /*ヘッダーアイコンの画像*/
    height: 40px;
  }
}

.img-hidden {
  height: 400px;
  overflow: hidden;
}

.container-m{
  margin-top: 80px;
  
}

.two_column{
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.footer{
  background-color: #434a40;
  color: #fff;
  text-align: center;
}

/*ページtopへのボタン*/
#page_top {
  position: fixed;
  bottom: 30px;
  right: 20px;
}
#page_top a {
  font-size: 3rem;
  background-color: #999;
  color: #fff;
  text-align: center;
  padding: 15px 20px;
}
#page_top a:hover {
  background-color: #666;
  text-decoration: none;
}