
.img-hidden {
  height: 400px;
  overflow: hidden;
}

.container-m{
  margin-top: 80px;
  
}

.two_column{
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.footer{
  background-color: #434a40;
  color: #fff;
  text-align: center;
}