.wrapper{
    /*背景色*/
  background-color:#ecd6b4 ;
    /*文字色*/
  color:#38445a;
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
}

a{
  /*ナビゲーション文字色*/
  color:#fff;  
  &:hover{
    color:#fff;
  }
}

.navbar-brand{
    /*ナビゲーション文字色*/
    color:#fff;  
}
.navbar-brand{
  img{
    /*ヘッダーアイコンの画像*/
    height: 40px;
  }
}

.img-hidden {
  height: 400px;
  overflow: hidden;
}

.container-m{
  margin-top: 80px;
  
}

.two_column{
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.footer{
  background-color: #38445a;
  color: #fff;
  text-align: center;
}

/*ページtopへのボタン*/
#page_top {
  position: fixed;
  bottom: 30px;
  right: 20px;
}
#page_top a {
  font-size: 3rem;
  background-color: #38445a;
  color: #fff;
  text-align: center;
  padding: 15px 20px;
  border-radius:50%;
}
#page_top a:hover {
  background-color: #666;
  text-decoration: none;
}

/*ナビゲーション*/
/*枠線を消す*/
.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

/*モーダルの100%表示*/
.fullscreen .modal-dialog {
  margin: 0 0 0 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
}
 
.fullscreen .modal-content {
  height: 100%;
  min-height: 100%;
  border-radius: 0;
  background: rgba(36, 36, 36, 0.90);
  overflow:auto;
}
 
.fullscreen .modal-content .modal-header{
  border: 0px;
}
 
.fullscreen .modal-content button{
  opacity: 1;
}
 
.fullscreen .modal-content button span{
  color:#ecd6b4;
  font-weight: 1;
  font-size: 26px;
  text-shadow: none;
}
 
.fullscreen .modal-body .modal-logo img {
  width: 158px;
  padding-bottom: 84px;
}
 
.fullscreen .modal-body ul {
  padding: 0 0 0 0;
}
.fullscreen .modal-body li {
  padding-bottom: 43px;
}
.fullscreen .modal-body a {
  color:#fff;  
  font-size: 16px;
}
 
.fullscreen .modal-body .social img {
  width: 56px;
  margin: 8px;
}
.modal-title{
  color:#fff;
  text-align: center;
}

/*モーダル表示時のロゴサイズ指定*/
.modal-title.logo{
  width: 50%;
  height: auto;
}

.main{
  /*top画像の位置指定*/
    padding-top: 122px;
    padding-right: 58px;
    padding-left: 58px;

  /*アイテムボックス*/
  .item-box{
    clear: both;
    overflow: hidden;
    margin-bottom: 58px;
  /*アイテムイメージ*/
    .top-image{
    margin-bottom: 58px;
    }
  /*テキストボックス*/
    .text-box{
      display: flex;
      justify-content: space-between;
  /*ショップボタン*/
      .shop-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 50px;
        background-color: white;
        border-radius: 50px;
        color: #38445a;
        transition: 0.5s ;
        &:hover{
          display: flex;
          justify-content: center;
          align-items: center;  
          width: 150px;
          height: 50px;
          background-color: #38445a;
          border-radius: 50px;
          color: white;
          text-decoration: none;
        }
      }
    }
  }

  .square-box{
    ul{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
      grid-row-gap: 58px;
      grid-column-gap:58px;
      list-style-type: none;
    }
    .square-image{
      position: relative;
      .image-o-text{
        position: absolute;
        top: 27px;
        left: 40px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .parent {
    flex-wrap: wrap;
  }
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
 
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
    img { max-width: 100%; }
}